.example-list {
  .question-list {
    padding 15px;
    background #eaeaea;
    margin-bottom 15px;

    .box {
      background white;
      padding 15px;
      border 1px solid #d6d6d6;
      border-radius 3px;
      margin-bottom 15px;
    }

    .question-form {
    }
  }
}