.code-panel {

  .tabs {
    .nav-tabs > li.active > a {
      background-color: #f8f8f8;
      border: 1px solid #ccc;
      border-bottom-color: transparent;
    }
    .tab-content {
      overflow-y auto;
      max-height 600px;
      background: #f8f8f8;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      border: 1px solid #ccc;
      margin-bottom: 20px;
      padding: 6px 10px;
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  pre {
    // Rainbow
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    color: #333;
    word-wrap: break-word;
    line-height: 19px;
    border: none;
    padding 0;
    background none;
    border-radius 0;
  }
}
